html {
    font-size: 125%;
}

h1,
h2,
h3,
button,
.left a,
.right a,
p.homeHead,
p.sectionHead,
p.teamHead,
.fifthContent a,
p.blogDate,
p.blogLabel,
p.commenter,
p.commentDate,
p.contactHead,
p.contactTitle,
p.footerHead,
p.footerText {
    font-family: $headlineFont;
    text-transform: uppercase;
    color: #000;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3 {
    font-weight: 700;
    letter-spacing: 0.9px;
}

h1 {
    font-size: 1.85rem;
    text-align: center;
}

p,
input,
textarea,
.mainBlog a {
    font-family: $bodyFont;
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    line-height: 24px;
    color: #000;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    position: relative;
}

a:hover,
a:focus {
    text-decoration: line-through;
}

img {
    display: block;
}

.wrapper {
    max-width: 1200px;
    width: 80%;
    margin: 0 auto;
}