// Display Flex properties for Header
.mainNav,
.left,
.right {
    display: flex;
}

// Nav code starts HERE!
.homeHeader {
    padding-top: 45px;
    .mainNav {
        justify-content: space-between;
    }
}

.left a,
.right a {
    font-size: 0.7rem;
    letter-spacing: 0.3px;
    position: relative;
    top: -32px;
}

.left a {
    padding: 0 20px 0 10px;
}

.right a {
    padding: 0 10px 0 20px;
    i {
        font-size: 1rem;
    }
}

.userCart::after {
    content: '2';
    font-family: $headlineFont;
    font-size: 0.4rem;
    display: block;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: $tertiaryColor;
    position: relative;
    bottom: 6px;
    left: 10px;
    padding: 4px 0 0 6px;
    transition: 0.2s;
}

.fa-shopping-bag:hover::after {
    background: $defaultBlack;
}

// Mobile Nav codes start HERE!
.hamburger {
    position: relative;
    display: none;
    .menuIcon {
        font-size: 1.8rem;
        color: $darkColor;
        position: absolute;
        top: -38px;
        right: 0;
    }
    .userSearch,
    .userCart {
        font-size: 1.2rem;
    }
    .userCart::after {
        font-size: 0.5rem;
        width: 20px;
        height: 20px;
        bottom: 8px;
        left: 10px;
        padding: 6px 0 0 2px;
    }
}

.mobileNav {
    background: $primaryColor;
    width: 50%;
    position: absolute;
    top: 10px;
    right: 0;
    z-index: 1;
    transition: 0.2s;
    display: none;
}

.mobileNav a {
    font-family: $headlineFont;
    font-size: 0.8rem;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    text-align: center;
    color: $darkColor;
    display: inline-block;
    border-bottom: 1px solid $borderColor;
    width: 100%;
    padding: 4%;
}

input[type="checkbox"] {
    position: absolute;
    top: -200px;
    right: 0;
    display: none;
}

input[type="checkbox"]:checked + .mobileNav {
    display: block;
}