// Font variables HERE!
$headlineFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// Color palette HERE!
$primaryColor: #FFF;
$secondaryColor: #F6F6F6;
$tertiaryColor: #C3DAB7;
$footerColor: #333;
$blogBorderColor: #E1E1E1;
$blogPostColor: #999;
$blogCommentColor: #666;