// Font variables HERE!
$headlineFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// Color palette HERE!
$primaryColor: #FFF;
$secondaryColor: #F6F6F6;
$darkColor: #333;
$lightColor: #C3DAB7;