// Font variables HERE!
$headlineFont: 'Montserrat', sans-serif;
$bodyFont: 'Open Sans', sans-serif;

// Color palette HERE!
$primaryColor: #FFF;
$secondaryColor: #F6F6F6;
$tertiaryColor: #C3DAB7;

$darkColor: #333;
$darkBorderColor: #484848;

$borderColor: #E1E1E1;
$textColor: #999;
$darkTextColor: #666;
$blogReplyLink: #405E31;
