@charset "UTF-8";
html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: .67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace,monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace,monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: .35em .75em .625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: '';
  clear: both;
  height: 0;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

html {
  font-size: 125%;
}

h1,
h2,
h3,
button,
.left a,
.right a,
p.homeHead,
p.sectionHead,
p.teamHead,
.fifthContent a,
p.blogDate,
p.blogLabel,
p.commenter,
p.commentDate,
p.contactHead,
p.contactTitle,
p.footerHead,
p.footerText {
  font-family: "Montserrat", sans-serif;
  text-transform: uppercase;
  color: #000;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3 {
  font-weight: 600;
  letter-spacing: 0.9px;
}

h1 {
  font-size: 1.85rem;
  text-align: center;
}

p,
input,
textarea,
.mainBlog a {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  line-height: 24px;
  color: #000;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  position: relative;
}

a i {
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

a:hover,
a:focus {
  text-decoration: line-through;
}

a i:hover,
.blogFooter a i:hover {
  color: #C3DAB7;
}

img {
  display: block;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.mainNav,
.left,
.right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.homeHeader {
  padding-top: 45px;
}

.homeHeader .mainNav {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.left a,
.right a {
  font-size: 0.7rem;
  letter-spacing: 0.3px;
  position: relative;
  top: -32px;
}

.left a {
  padding: 0 20px 0 10px;
}

.right a {
  padding: 0 10px 0 20px;
}

.right a i {
  font-size: 1rem;
}

.userCart::after {
  content: '2';
  font-family: "Montserrat", sans-serif;
  font-size: 0.4rem;
  display: block;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #C3DAB7;
  position: relative;
  bottom: 6px;
  left: 10px;
  padding: 4px 0 0 6px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.fa-shopping-bag:hover::after {
  background: #000;
}

.hamburger {
  position: relative;
  display: none;
}

.hamburger .menuIcon {
  font-size: 1.8rem;
  color: #333;
  position: absolute;
  top: -38px;
  right: 0;
}

.hamburger .userSearch,
.hamburger .userCart {
  font-size: 1.2rem;
}

.hamburger .userCart::after {
  font-size: 0.5rem;
  width: 20px;
  height: 20px;
  bottom: 8px;
  left: 10px;
  padding: 6px 0 0 2px;
}

.mobileNav {
  background: #FFF;
  width: 50%;
  position: absolute;
  top: 10px;
  right: 0;
  z-index: 1;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  display: none;
}

.mobileNav a {
  font-family: "Montserrat", sans-serif;
  font-size: 0.8rem;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  text-align: center;
  color: #333;
  display: inline-block;
  border-bottom: 1px solid #E1E1E1;
  width: 100%;
  padding: 4%;
}

input[type="checkbox"] {
  position: absolute;
  top: -200px;
  right: 0;
  display: none;
}

input[type="checkbox"]:checked + .mobileNav {
  display: block;
}

header.homePage {
  background: url(../assets/home-1.jpeg);
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
}

.firstSection {
  background: #C3DAB7;
  position: relative;
}

.line1::before {
  content: '';
  border-left: 1px solid #999;
  height: 160px;
  position: absolute;
  top: -10%;
  left: 50%;
}

.homeImg1 {
  position: relative;
  padding-top: 16%;
}

.homeImg1 img {
  margin: 0 auto;
}

.circleText img {
  position: absolute;
  top: 22%;
  left: 21.5%;
}

.firstContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.brandingText,
.designText {
  width: 30%;
  text-align: center;
  margin: 6.5% 1.5% 10% 1.5%;
}

.brandingText p.homeHead,
.designText p.homeHead {
  font-size: 0.9rem;
  letter-spacing: 1.8px;
  line-height: 24px;
}

.secondContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 8% 0 6.5% 0;
  position: relative;
}

.secondContent p {
  font-size: 0.8rem;
  text-align: center;
  font-style: italic;
  line-height: 30px;
  color: #666;
  width: 68%;
  margin-top: 3%;
}

.homeImg2 img {
  border-radius: 50%;
}

.toggleArrows {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  position: absolute;
  top: 45%;
}

.toggleArrows button {
  font-size: 2.5rem;
  background: none;
  border: none;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.toggleArrows button:hover,
.toggleArrows button:focus {
  color: #666;
}

.thirdSection {
  background: url(../assets/home-4.jpeg);
  background-position: center;
  background-size: cover;
  height: 925px;
}

.thirdContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.thirdContent ul {
  width: 33%;
  margin-top: 18.5%;
}

.thirdContent li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 0 23% 10%;
}

.rightList {
  margin-right: -150px;
}

.iconContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 65px;
  height: 65px;
  border: 2px solid #000;
  border-radius: 50%;
  margin-right: 10%;
}

.iconContainer i {
  font-size: 1.5rem;
  color: #333;
  padding: 25px;
}

p.homeHead {
  font-size: 0.9rem;
  margin-bottom: 4%;
}

.fourthSection {
  position: relative;
}

.line2::before {
  content: '';
  border-left: 1px solid #999;
  height: 80px;
  position: absolute;
  top: 0;
  left: 50%;
}

h2.sectionHead {
  font-size: 1.2rem;
  font-weight: normal;
  text-align: center;
  padding-top: 11.5%;
}

.fourthContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 8%;
}

.fourthContent li {
  margin: 1.2%;
}

.teamPlayers {
  background: #F6F6F6;
  width: calc(540px + 2.4%);
  display: block;
}

.teamPlayers p {
  font-size: 0.7rem;
  color: #666;
  padding: 0 5% 5% 8%;
}

.teamPlayers .teamHead {
  font-size: 0.85rem;
  letter-spacing: 2.3px;
  color: #333;
  padding: 20% 0 4% 8%;
}

.recruit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 270px;
}

.recruit .teamHead {
  color: #333;
  font-size: 0.75rem;
  letter-spacing: 1.8px;
  text-align: center;
  width: 60%;
}

.fifthSection {
  background: #C3DAB7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 10%;
}

.fifthContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fifthContent h2.sectionHead {
  margin: -9% 0 4% 0;
}

.fifthContent p {
  text-align: center;
  width: 52%;
  color: #666;
}

.fifthContent a {
  font-size: 0.7rem;
  font-weight: bold;
  letter-spacing: 0.7px;
  line-height: 24px;
  background: #FFF;
  margin-top: 4%;
  padding: 1.7% 3.2%;
}

.homeImg3 {
  width: 80%;
}

.homeImg3 img {
  width: 100%;
}

header.blogPage {
  background: url(../assets/blog-1.jpeg);
  background-position: top center;
  background-size: cover;
  height: 100vh;
}

h2 {
  font-size: 3rem;
}

.mainBlog {
  padding: 6% 0;
}

.mainBlog a {
  font-size: 0.65rem;
  color: #999;
}

.blogHeader,
.blogHeader ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.blogHeader {
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 4.5%;
  padding: 5.5% 0 2.5% 0;
}

.blogHeader li p {
  position: relative;
  top: 20px;
}

.blogInfo li {
  margin: 0 35px 0 60px;
}

.blogger img {
  border-radius: 50%;
  margin-right: 30px;
}

p.blogLabel {
  font-size: 0.8rem;
}

ul p {
  font-size: 0.65rem;
  color: #999;
  margin: 0;
}

.blogContent p {
  color: #999;
  margin: 2% 0;
}

p.starterText {
  color: #000;
  font-weight: bold;
}

.blogFooter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3%;
}

.blogFooter li {
  margin-right: 2%;
}

.blogFooter i {
  font-size: 0.8rem;
  color: #000;
}

h3 {
  font-size: 1.5rem;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 4.5%;
  padding-bottom: 2%;
}

.blogGallery {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 8%;
}

.blogGallery li {
  width: 100%;
}

.blogGallery img {
  width: 100%;
  margin-bottom: 5%;
}

.firstPost {
  margin-right: 1%;
}

.secondPost {
  margin: 0 1%;
}

.thirdPost {
  margin-left: 1%;
}

.blogComments {
  margin-bottom: 5%;
}

.comment {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2.5%;
}

.avatar {
  margin-right: 3%;
}

.commentText {
  background: #F6F6F6;
  padding: 1% 2%;
  width: 100%;
  position: relative;
}

.commentText p {
  color: #666;
  margin: 0;
  padding: 0.4% 0;
}

.commentText::before {
  content: '\25C2';
  font-size: 2rem;
  color: #F6F6F6;
  position: absolute;
  top: 0px;
  left: -20px;
}

p.commenter {
  font-size: 0.67rem;
  color: #000;
}

p.commenter a {
  color: #405E31;
  text-transform: none;
  font-style: italic;
}

p.commentDate {
  font-size: 0.57rem;
  text-transform: none;
  margin-bottom: 1.5%;
}

.blogForm {
  margin-bottom: 10%;
}

.userInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

input,
textarea {
  border: none;
  border-bottom: 1px solid #E1E1E1;
  margin-bottom: 3%;
  padding-bottom: 0.8%;
}

input {
  width: calc(95% / 3);
}

textarea {
  width: 100%;
  resize: none;
  height: 160px;
}

input:focus,
textarea:focus {
  outline: none;
  border-bottom: 1px solid #000;
}

.contactForm button {
  font-size: 0.7rem;
  background: none;
  border: none;
  border-bottom: 1px solid #000;
  margin-top: 2%;
  padding-bottom: 0.8%;
}

.contactForm button:hover,
.contactForm button:focus {
  text-decoration: line-through;
}

.contactImg1 {
  background: url(../assets/contact-1.jpeg);
  background-position: left;
  background-size: cover;
  height: 25vh;
  position: relative;
  margin-top: 45px;
}

.contactImg1 h2 {
  width: 20%;
  position: absolute;
  top: 60%;
}

.contactImg1 h2::before {
  content: '';
  position: absolute;
  top: -45px;
  border-top: 3px solid #000;
  width: 40px;
}

.contactDetails {
  margin-top: 8%;
}

.contactDetails p {
  color: #999;
  margin: 0.4% 0;
}

.contactDetails ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 8% 0;
}

.contactDetails i {
  font-size: 2rem;
}

.contactDetails .contactTitle {
  font-size: 0.7rem;
  color: #000;
  font-weight: bold;
  letter-spacing: 5px;
  padding: 12% 0 5% 0;
}

.contactDetails li p {
  color: #666;
}

.divider {
  position: relative;
}

.divider::before,
.divider::after {
  content: '';
  border-left: 1px solid #E1E1E1;
  height: 225px;
}

.divider::before {
  position: absolute;
  top: -30%;
  left: -30%;
}

.divider::after {
  position: absolute;
  bottom: -30%;
  right: -30%;
}

.getInTouch p {
  color: #999;
}

.getInTouch form {
  margin: 9% 0;
}

.getInTouch button {
  font-weight: bold;
}

p.contactHead {
  font-size: 0.9rem;
  font-weight: bold;
  color: #000;
  margin-bottom: 2%;
}

.contactImg2 img {
  width: 100%;
}

footer {
  background: #333;
  padding-top: 8%;
}

footer p,
footer p.footerHead,
footer a {
  color: #FFF;
}

.footerContent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footerContent p {
  font-size: 0.75rem;
}

p.footerHead {
  font-size: 0.9rem;
  margin-bottom: 15%;
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.socials li {
  margin-top: 12%;
  margin-right: 8%;
}

.socials i {
  font-size: 0.8rem;
}

.posts li {
  position: relative;
  margin-bottom: 3.5%;
}

.posts li .footerHead {
  text-align: center;
}

.posts li:not(:first-child)::before {
  content: '•';
  font-size: 0.65rem;
  color: #FFF;
  position: absolute;
  top: 5px;
  left: -10px;
}

.widget {
  text-align: right;
}

.widget form {
  margin-top: 12%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.widget input {
  font-size: 0.65rem;
  width: 75%;
  margin: 0;
  padding: 3% 5%;
}

.widget button {
  background: #C3DAB7;
  border: none;
  padding: 0 5%;
}

.widget button:hover,
.widget button i:hover {
  color: #FFF;
}

p.footerText {
  letter-spacing: 8px;
  color: #FFF;
  text-align: center;
  border-top: 1px solid #484848;
  margin-top: 8%;
  padding: 4%;
}

@media (max-width: 1600px) {
  .rightList {
    margin-right: 0;
  }
}

@media (max-width: 1500px) {
  .circleText img {
    top: 15%;
    left: 18%;
  }
  .brandingText,
  .designText {
    margin: 6.5% 2.5% 10% 2.5%;
  }
  .thirdContent ul {
    width: 35%;
    margin-top: 22%;
  }
  .thirdContent li {
    margin-bottom: 15%;
  }
  .iconContainer {
    width: 55px;
    height: 55px;
    margin-right: 5%;
  }
  .iconContainer i {
    font-size: 1.2rem;
  }
}

@media (max-width: 1350px) {
  .thirdContent ul {
    margin-top: 27%;
  }
}

@media (max-width: 1300px) {
  footer {
    padding-top: 9%;
  }
  .footerContent {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .contact,
  .posts {
    width: calc(100% / 2 - 15%);
    margin: 0 0 6% 15%;
  }
  p.footerHead {
    margin-bottom: 7%;
  }
  .posts p.footerHead {
    text-align: left;
  }
  .widget {
    width: 50%;
    text-align: center;
  }
  .widget form {
    margin-top: 8%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .widget input {
    font-size: 0.75rem;
  }
  p.footerText {
    margin-top: 5%;
  }
}

@media (max-width: 1294px) {
  .homeImg1 {
    padding-top: 20%;
  }
  .circleText img {
    left: 13%;
  }
  .brandingText,
  .designText {
    width: 35%;
    margin: 7% 3.5% 13% 3.5%;
  }
}

@media (max-width: 1115px) {
  .blogger {
    margin-top: 3.5%;
  }
  .blogInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    width: 350px;
    margin: 0 0 2% 0;
  }
  .blogInfo p {
    padding: 1.5% 0;
  }
  .blogInfo li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  p.blogLabel {
    margin-right: 3%;
  }
  .contactDetails {
    margin-top: 12%;
  }
  .contactDetails ul {
    margin-bottom: 12%;
  }
}

@media (max-width: 1111px) {
  .homeHeader {
    padding-top: 25px;
  }
  .homeHeader nav {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .left,
  .right {
    width: 50%;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
  .left a,
  .right a {
    top: 20px;
    padding: 0;
  }
  .circleText img {
    top: 10%;
    left: 5%;
  }
  .brandingText,
  .designText {
    width: 40%;
    margin: 7% 4% 13% 4%;
  }
  .divider::before,
  .divider::after {
    height: 180px;
  }
  .divider::before {
    top: -15%;
    left: -20%;
  }
  .divider::after {
    bottom: -15%;
    right: -20%;
  }
}

@media (max-width: 1082px) {
  .thirdContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .thirdContent ul {
    width: 70%;
    margin-top: 0;
  }
  .thirdContent li {
    margin-bottom: 5%;
  }
  ul.leftList {
    margin-top: 15%;
  }
  .iconContainer {
    width: 55px;
    height: 55px;
    margin-right: 5%;
  }
  .iconContainer i {
    font-size: 1.2rem;
  }
  .divider::before {
    left: -15%;
  }
  .divider::after {
    right: -15%;
  }
}

@media (max-width: 974px) {
  .brandingText,
  .designText {
    width: 50%;
    margin: 7% 4% 13% 4%;
  }
  .contact,
  .posts {
    width: calc(100% / 2 - 10%);
    margin: 0 0 6% 10%;
  }
}

@media (max-width: 940px) {
  .wrapper {
    width: 90%;
  }
  .line1::before {
    height: 100px;
    top: -6%;
  }
  .firstContent {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .brandingText,
  .designText {
    width: 340px;
    margin: 7% 0 0 0;
  }
  .designText {
    margin: 7% 0 10% 0;
  }
  .circleText {
    width: 100%;
  }
  .circleText img {
    width: 30%;
    top: 10%;
    left: 10%;
  }
  .secondContent {
    padding: 10% 0 9% 0;
  }
  .secondContent p {
    margin-top: 5%;
  }
  .toggleArrows Button {
    font-size: 4rem;
  }
  .line2::before {
    height: 50px;
  }
  .fifthContent p {
    width: 75%;
  }
  .contact,
  .posts {
    width: 100%;
    margin: 0 0 8% 35%;
  }
  .posts li {
    margin-bottom: 0;
  }
  p.footerHead {
    margin-bottom: 3%;
  }
  .socials li {
    margin-top: 5%;
    margin-right: 8%;
  }
  .widget {
    width: 70%;
  }
  .widget form {
    margin-top: 5%;
  }
  .widget input {
    font-size: 0.8rem;
  }
  p.footerText {
    margin-top: 10%;
  }
  .mainBlog {
    padding-bottom: 9%;
  }
  h3 {
    margin-bottom: 6%;
  }
  .blogFooter {
    margin-top: 5%;
  }
  .blogGallery {
    margin-bottom: 10%;
  }
  .blogComments {
    margin-bottom: 10%;
  }
  .userInfo {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .userInfo input {
    width: calc(100% /2 - 2%);
    margin-bottom: 5%;
    padding: 0 1%;
  }
  .userInfo input:last-child {
    width: 100%;
  }
  textarea {
    margin-bottom: 5%;
  }
}

@media (max-width: 850px) {
  ul.leftList {
    margin-top: 20%;
  }
  .fifthSection {
    display: block;
    position: relative;
    background: none;
  }
  .fifthContent {
    background: #C3DAB7;
    width: 100%;
    height: 360px;
    position: absolute;
    top: 22%;
  }
  .fifthContent h2.sectionHead {
    margin: 10% 0 4% 0;
    padding: 0;
  }
  .fifthContent p {
    width: 60%;
    margin: 0 auto;
  }
  .fifthContent a {
    margin: 5% 0 10% 0;
  }
  .homeImg3 {
    width: 100%;
  }
  .divider::before {
    left: -10%;
  }
  .divider::after {
    right: -10%;
  }
  .contactImg1 h2 {
    font-size: 2.3rem;
  }
}

@media (max-width: 768px) {
  h1 {
    text-align: left;
  }
  .homeHeader .mainNav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .secondContent p {
    width: 85%;
  }
  .toggleArrows {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    position: relative;
    margin: 8% 2% 0 2%;
  }
  .toggleArrows button {
    padding: 0 5%;
  }
  h3 {
    margin-bottom: 8%;
    padding-bottom: 3%;
  }
  .blogFooter li {
    margin-right: 30px;
  }
  .blogFooter i {
    font-size: 1.2rem;
  }
  .blogComments {
    margin-bottom: 13%;
  }
  .blogForm {
    margin-bottom: 18%;
  }
  .userInfo input {
    width: 100%;
    margin-bottom: 7%;
    padding: 0 1%;
  }
  textarea {
    margin-bottom: 8%;
  }
  .getInTouch form {
    margin-bottom: 14%;
  }
  .contactDetails {
    margin-top: 16%;
  }
  .contactDetails ul {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin: 4% 0 8% 0;
  }
  .contactDetails li {
    margin-left: 10%;
    padding: 5% 0;
  }
  .divider::before,
  .divider::after {
    display: none;
  }
  .firstPost {
    display: none;
  }
  .secondPost {
    margin: 0 1% 0 0;
  }
  .socials i {
    font-size: 1.2rem;
  }
}

@media (max-width: 750px) {
  ul.leftList {
    margin-top: 15%;
  }
}

@media (max-width: 700px) {
  footer {
    padding-top: 12%;
  }
  .contact,
  .posts {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin: 0 0 5% 0;
  }
  p.footerHead {
    margin-bottom: 7%;
  }
  .socials li {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 20px;
  }
  .widget {
    margin-top: 5%;
    width: 70%;
  }
  .widget p.footerHead {
    margin-bottom: 5%;
  }
  .widget form {
    margin-top: 5%;
  }
  .widget input {
    font-size: 0.8rem;
  }
  p.footerText {
    margin-top: 10%;
  }
  .mainBlog {
    padding-top: 12%;
  }
  .mainBlog h2 {
    font-size: 2.5rem;
    padding-bottom: 2%;
  }
}

@media (max-width: 647px) {
  .line1::before {
    height: 80px;
  }
  .designText {
    margin-bottom: 15%;
  }
  .homeImg1 {
    padding-top: 20%;
  }
  .homeImg1 img {
    width: 70%;
  }
  .circleText {
    width: 100%;
  }
  .circleText img {
    width: 25%;
    top: 18%;
    left: 5%;
  }
  .fourthSection h2.sectionHead {
    padding-top: 16%;
  }
  .teamPlayers {
    width: 270px;
    height: 270px;
  }
  .teamPlayers .teamHead {
    padding: 12% 0 8% 8%;
  }
  .fifthContent {
    height: 320px;
    top: 20%;
  }
  .blogHeader {
    display: block;
    padding-bottom: 30px;
  }
  ul.blogger {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  ul.blogInfo {
    width: 100%;
  }
  ul.blogInfo li {
    margin: 0;
  }
  ul.blogInfo p {
    padding: 0.5% 0;
  }
}

@media (max-width: 575px) {
  .mainBlog h2 {
    width: 82%;
  }
}

@media (max-width: 567px) {
  .thirdContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thirdContent ul {
    background: rgba(255, 255, 255, 0.7);
    width: 100%;
  }
  .thirdContent ul li {
    margin: 0;
    padding: 5% 3%;
  }
  .thirdContent ul p.homeHead {
    margin-bottom: 0;
  }
  ul.leftList {
    margin-top: 20%;
  }
  .footerContent p {
    font-size: 0.68rem;
  }
  p.footerHead {
    font-size: 0.8rem;
  }
  .contactDetails {
    margin-top: 20%;
  }
}

@media (max-width: 508px) {
  .thirdContent ul li {
    padding: 3% 3%;
  }
  p.homeHead {
    margin-bottom: 0;
  }
  .fifthContent {
    height: 270px;
  }
  .fifthContent p {
    width: 80%;
  }
  .mainBlog h2 {
    width: 94%;
  }
}

@media (max-width: 480px) {
  .secondContent {
    padding: 16% 0 14% 0;
  }
  .secondContent p {
    margin-top: 10%;
  }
  .fifthContent {
    top: 17%;
  }
  .mainBlog {
    padding: 16% 0;
  }
  .mainBlog h2 {
    font-size: 2rem;
    width: 80%;
  }
  .blogFooter {
    margin-top: 8%;
  }
  .blogGallery {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-bottom: 18%;
  }
  .blogGallery li {
    margin: 0 0 8% 0;
  }
  .blogGallery img {
    margin-bottom: 2%;
  }
  .firstPost {
    display: block;
  }
  .blogComments {
    margin-bottom: 18%;
  }
  .avatar {
    display: none;
  }
  .commentText {
    margin-bottom: 2%;
  }
  .commentText::before {
    display: none;
  }
  .blogForm {
    margin-bottom: 20%;
  }
  h3 {
    margin-bottom: 10%;
  }
  .userInfo input {
    margin-bottom: 10%;
  }
  textarea {
    margin-bottom: 10%;
  }
  footer {
    padding-top: 20%;
  }
  p.footerText {
    margin-top: 16%;
  }
}

@media (max-width: 470px) {
  ul.leftList {
    margin-top: 24%;
  }
}

@media (max-width: 423px) {
  .line1,
  .line2 {
    display: none;
  }
  .brandingText,
  .designText {
    width: 90%;
    margin: 10% 0 0 0;
  }
  .designText {
    margin: 7% 0 20% 0;
  }
  .secondContent p {
    font-size: 0.7rem;
  }
  ul.leftList {
    margin-top: 28%;
  }
  .homeImg3 {
    display: none;
  }
  .fifthContent {
    height: 390px;
    position: static;
  }
  .mainBlog h2 {
    width: 91%;
  }
  .contactDetails {
    margin-top: 25%;
  }
  .contactDetails ul {
    margin: 4% 0 12% 0;
  }
  .contactDetails p {
    margin: 1% 0 2% 0;
  }
  p.contactHead {
    margin-bottom: 5%;
  }
  .widget {
    width: 100%;
  }
}

@media (max-width: 385px) {
  .thirdContent li {
    padding: 5% 1%;
  }
  ul.leftList {
    margin-top: 12%;
  }
}

@media (min-width: 360px) {
  .thirdContent ul li {
    padding: 2% 3%;
  }
  ul.leftList {
    margin-top: 8%;
  }
}

@media (max-width: 350px) {
  .footerContent p {
    font-size: 0.61rem;
  }
}

@media (max-width: 330px) {
  ul.leftList {
    margin-top: 10%;
  }
}

@media (max-height: 620px) {
  h1 {
    text-align: left;
  }
  .homeHeader .mainNav {
    display: none;
  }
  .hamburger {
    display: block;
  }
  .contactImg1 {
    margin-bottom: 130px;
  }
  .contactImg1 h2 {
    font-size: 2.3rem;
  }
}

@media (max-height: 450px) {
  .thirdContent {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .thirdContent ul {
    background: rgba(255, 255, 255, 0.7);
    width: 70%;
  }
  .thirdContent ul li {
    margin: 0;
    padding: 5% 3%;
  }
  .thirdContent ul p.homeHead {
    margin-bottom: 0;
  }
  ul.leftList {
    margin-top: 10%;
  }
}

@media (max-height: 450px) and (max-width: 800px) {
  .thirdContent ul {
    width: 80%;
  }
}

@media (max-height: 450px) and (max-width: 700px) {
  ul.leftList {
    margin-top: 18%;
  }
}

@media (max-height: 450px) and (max-width: 614px) {
  .thirdContent ul {
    width: 90%;
  }
}

@media (max-height: 450px) and (max-width: 547px) {
  .thirdContent ul li {
    padding: 3.5% 3%;
  }
}
